<app-name-card
  cardName="abc"
  email="prodev@abc.xyz"
  phone="0123456789"
></app-name-card>

<div class="navbar navbar-default">
  <div class="navbar-nav-scroll">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['add-article']"
          >Add article</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['list-article']">List</a>
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
