
<div class="navbar navbar-default">
  <div class="navbar-nav-scroll">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['add-article']"
          >Add article</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['list-article']">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['card-name']">Card Name</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['progress-bar']"
        routerLinkActive="router-link-active">Progress Bar</a>
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>


<!-- <app-countdown-timer [seconds]="6">
</app-countdown-timer> -->
<!-- 
<app-countdown-timer-get-set seconds="abc">
</app-countdown-timer-get-set> -->

<!-- <app-countdown-timer-onchanges seconds="str">
</app-countdown-timer-onchanges> -->

<!-- <app-countdown-timer-alias remaining-time="60">
</app-countdown-timer-alias> -->

<!-- <app-countdown-timer-event seconds="10" (finish)="finishCountdown()">
</app-countdown-timer-event>
<p>{{ countdownMsg }}</p> -->

<!-- <app-countdown-timer-event-alias seconds="10" (timerEnd)="endCountdown()">
</app-countdown-timer-event-alias>
<p>{{ countdownAliasMsg }}</p> -->

<!-- <app-rating-bar [max]="10" (rateChange)="onRateChange($event)"></app-rating-bar> -->
